# compiled output
dist/
build/
exports/
coverage/
*.tsbuildinfo

# Node
node_modules/
npm-debug.log*
package-lock.json

# env files
.env
.env.*
!.env.example
prisma/.env

# uploads
uploads/

# OS
.DS_Store
.DS_Store?
